version: "3.9"

services:
  db-postgres:
    image: postgres:15
    container_name: db-postgres
    environment:
      POSTGRES_USER: iouri
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: ressources
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data:

