{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h2>Mes environnements Docker</h2>

  {% if data %}
    {% if data is string %}
      <pre>{{ data }}</pre>
    {% else %}
      {# si c'est une liste #}
      {% if data|length > 0 and data[0] is string %}
        <ul>
          {% for item in data %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <pre>{{ data | tojson(indent=2) }}</pre>
      {% endif %}
    {% endif %}
  {% else %}
    <p>Aucune donnée à afficher.</p>
  {% endif %}

  {% if raw %}
    <h4>Contenu brut :</h4>
    <pre>{{ raw }}</pre>
  {% endif %}
</div>
{% endblock %}
